VITE_AUTH_URL=http://localhost:3000

# PRIVATE SECRETS
DATABASE_URL= #https://neon.tech
AUTH_SECRET= #https://www.better-auth.com/docs/installation#set-environment-variables
GOOGLE_OAUTH_ID= #https://console.cloud.google.com/auth/clients
GOOGLE_OAUTH_SECRET= #https://console.cloud.google.com/auth/clients
UPLOADTHING_TOKEN= #https://uploadthing.com